.subscribtion-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.sub-info-left {
	width: 482px;
	margin-right: 160px;
}

.sub-info-right {
	display: flex;
	flex-direction: column;
	gap: 28px;
	width: 440px;
	height: 221px;
	padding: 20px;
	background-color: var(--red-color);
	border-radius: 10px;
}