.marquee-container {
	width: 100%;
	overflow: hidden; 
	white-space: nowrap;
	position: relative;
	z-index: 1;
  }
  
  .marquee-content {
	display: inline-block; 
	animation: marquee 10s linear infinite;
	background-color: var(--red-color);
	color: var(--white-color);
	padding: 20px 20px 20px 20px;
  }
  
  @keyframes marquee {
	0% {
	  transform: translateX(0%);
	}
	100% {
	  transform: translateX(-10%);
	}
  }