.stackTags-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.stackTags-stack {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 12px;
}

@media screen and (max-width : 390px) {
	.stackTags-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
	}
	
	.stackTags-stack {
		width: 350px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		gap: 10px;
	}
	
}