.TestBanner-container {
	width: 90%;
	height: 334px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: var(--red-color);
	border-radius: 20px;
	border: 10px solid var(--red-color);
}

.TestBanner-info {
	display: flex;
	flex-direction: column;
	gap: 40px;
	width: 531px;
	height: 221px;
	align-items: center;
	justify-content: center;
	margin-right: 40px;
}

.TestBanner-Description {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 531px;
	color: var(--white-color);
	text-align: center;
}