.readMore-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;
	overflow: hidden;
}

.readMore_preview-grid {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}