.header {
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 10%;
	background: #000;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-size: 32px;
	color: white;
	font-weight: 700;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-links {
	font-size: 18px;
	color: white;
	font-weight: 500;
	margin-left: 40px;
}

.nav-links::before {
	content: '';
	top: 100%;
	left: 0;
	height: 2px;
	background: white;
	transition: .3s;
}

.nav-links:hover::before {
	width: 100%;
}

a, a:visited {
	color: white;
}

.nav-button {
	margin-left: 40px;
	color: white;
	border: white 2px solid;
	border-radius: 4px;
	padding: 8px;
}

.nav-button:hover {
	cursor: pointer;
}