.custom-radio {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 20px;
	cursor: pointer;
	user-select: none;
	color: #ccc;
	transition: background-color 0.3s, color 0.3s;
}

.custom-radio input[type="radio"] {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.custom-radio.active {
	background-color: #fff;
	color: #000;
}

.custom-radio:hover {
	color: #e9e9e9;
}

.custom-radio-label {
	text-align: center;
}