.about-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.about-title {
	grid-column: span 1;
	width: 323px;
	height: 284px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.about-big-img {
	grid-column: span 2;
	width: 669px;
	height: 284px;
	border-radius: 10px;
}

.about-big-img :nth-child(2) {
	display: none;
}

.about-text {
	grid-column: span 1;
	width: 323px;
	height: 284px;
	border-radius: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.about-img {
	grid-column: span 1;
	width: 323px;
	height: 284px;
	border-radius: 10px;
}

/* Адаптив для экранов меньше 1400px */
@media screen and (max-width: 1400px) {
	.about-container {
		display: grid;
		grid-template-columns: repeat(2, 4fr);
		gap: 20px;
	}
	
	.about-title {
		grid-column: span 1;
		width: 326px;
		height: 284px;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	.about-big-img {
		grid-column: span 1;
		width: 326px;
		height: 284px;
		border-radius: 10px;
	}

	.about-big-img :nth-child(1) {
		display: none;
	}

	.about-big-img :nth-child(2) {
		display: block;
	}

	.about-big-img img {
		height: 100%;
		width: 100%;
	}
	
	.about-text {
		grid-column: span 1;
		width: 326px;
		height: 284px;
		border-radius: 10px;
		padding: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	
	.about-img {
		grid-column: span 1;
		width: 326px;
		height: 284px;
		border-radius: 10px;
	}
}

/* Адаптив для экранов меньше 1024px */
@media screen and (max-width: 1024px) {
}

/* Адаптив для экранов меньше 710px */
@media screen and (max-width: 710px) {
	.about-container {
		display: grid;
		grid-template-columns: repeat(1, 4fr);
		gap: 20px;
	}
}

@media screen and (max-width : 390px) {
	.about-container {
		display: grid;
		grid-template-columns: repeat(1, 4fr);
		gap: 20px;
	}
	
	.about-title {
		grid-column: span 1;
		width: 326px;
		height: 284px;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	.about-big-img {
		grid-column: span 1;
		width: 326px;
		height: 284px;
		border-radius: 10px;
	}

	.about-big-img :nth-child(1) {
		display: none;
	}

	.about-big-img :nth-child(2) {
		display: block;
	}

	.about-big-img img {
		height: 100%;
		width: 100%;
	}
	
	.about-text {
		grid-column: span 1;
		width: 326px;
		height: 284px;
		border-radius: 10px;
		padding: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	
	.about-img {
		grid-column: span 1;
		width: 326px;
		height: 284px;
		border-radius: 10px;
	}
}