/* Основные стили для карточки */
.article-card {
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 8px;
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 8px;
	overflow: hidden;
}

/* Стили для мини-карточки */
.article-card-mini {
	width: 325px;
	height: 481px;
}

.article-card-mini.article-card-with-tags {
	height: 481px;
}

.article-card-mini .article-cover img {
	width: 284px;
	height: 284px;
	object-fit: cover;
	border-radius: 8px;
}

/* Стили для большой карточки */
.article-card-large {
	width: 670px;
	height: 452px;
}

.article-card-large.article-card-with-tags {
	height: 524px;
}

.article-card-large .article-cover img {
	width: 630px;
	height: 284px;
	object-fit: cover;
	border-radius: 8px;
}

.article-tags {
	display: flex;
	gap: 8px;
}

.article-title {
	display: flex;
	align-content: center;
	line-height: 1.2;
	vertical-align: baseline;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.article-description {
	display: flex;
	align-content: center;
	line-height: 1.4;
	vertical-align: baseline;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}