.essay-container {
	width: 1396px;
	display: flex;
	flex-direction: row;
}

.essay-MainInfo {
	width: 688px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}

.text-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.img-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.img-description {
	color: var(--black-color);
	width: 452px;
	display: flex;
	text-align: center;
}