.footer-container {
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 14px 20px;
	background: var(--red-color);
}

.toTop {
	cursor: pointer;
}

@media screen and (max-width : 768px) {
	.footer-container {
		display: none;
	}
}