.share-buttons {
	display: flex;
	gap: 10px;
}

.share-button {
	width: 134px;
	height: 32px;
	border: 1px solid black;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--black-color-50);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modalLink-content {
	width: 570px;
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
}

.modalLink-info {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.modalLink-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 6px;
}

.modalLink-title {
	color: var(--red-color);
}

.modalLink-description {
	text-align: left;
}

.modalLink-input input {
	width: 100%;
	height: 52px;
	padding: 10px;
	border: 1px solid var(--gray-color);
	border-radius: 10px;
}

.modalLink-button button {
	width: 300px;
	height: 52px;
	padding: 11px 20px;
	border-radius: 10px;
	border: none;
	background-color: var(--red-color);
	color: var(--white-color);
	cursor: pointer;
}

.modalLink-button button.copied {
	border: 2px solid var(--red-color);
	border-radius: 10px;
	background-color: var(--white-color);
	color: var(--red-color);
	cursor: pointer;
}

@media screen and (max-width : 670px) {
	.share-buttons {
		flex-wrap: wrap;
		justify-content: center;
	}
}